##VSCode
.vscode
.history
.idea
dir_conflicts.prej

##Other##
.DS_Store
db/var/*
log/*

html/php81/*
!html/php81/index.php
html/php56/*
!html/php56/index.php
html/php73/*
!html/php73/index.php
html/php74/*
!html/php74/index.php

nginx/ssl/*
!nginx/ssl/ssl.conf

nginx/vhost/*
!nginx/vhost/sample.conf